<h1>Login</h1>
<div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" novalidate>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName"
                   required
                   [(ngModel)]="user.userName" name="userName"
                   #userName="ngModel">
            <div [hidden]="userName.valid || userName.pristine"
                 class="alert alert-danger">
                User Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="power">Password:</label>
            <input type="password" class="form-control" id="password"
            required
            [(ngModel)]="user.password" name="password"
            #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="loginForm.reset()">New Restaurant</button>
    </form>
</div>