@model OdeToFood.ViewModels.HomePageViewModel
@{
    ViewBag.Titlte = "Home";
}
<my-app>loading.....</my-app>
<div class="row">
    <div class="row">
        <div class="col-md-8"><h1>@Model.CurrentMessage</h1></div>
        <div class="col-md-4">
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>
    </div>
    <div class="row">
        @foreach (var restaurant in Model.Restaurants)
        {
            @Html.Partial("_summary", restaurant)
        }
    </div>
</div>