<h1>Restuarunt</h1>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <img src="../../images/dinner-thumbnail.png" />
        </div>
        <div class="form-group">
            <h3>{{restaurant.name}}</h3>
            <p>Cuisine: {{CuisineEnum[restaurant.cuisine]}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <sebm-google-map [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>
