<div>
    <label>Restaurants</label>
    <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1"><a [routerLink]="['/Home/Create']" class="btn btn-primary">Create</a> </div>
    </div>
    <div>
        <div *ngFor="let r of restaurants">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../images/dinner-thumbnail.png" alt="Restaurant" />
                    <div class="caption">
                        <h3><a href="#">{{r.name}}</a></h3>
                        <p>Cuisine: {{CuisineEnum[r.cuisine]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>