@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li><a class="btn btn-default" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="btn btn-default" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}